@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  background-image: linear-gradient(rgb(63, 141, 201), rgb(175, 183, 189));
  background-position: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}
.container h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding-top: 1rem;
}
.container h1::after {
  content: "";
  border-bottom: 3px solid #fff;
  width: 90%;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px 3%;
}
p.info {
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  font-size: 1.3rem;
  text-align: center;
}
.panels-conatiner {
  display: flex;
  justify-content: space-between;
  padding: 10px 1%;
}
.panel {
  width: 30%;

  background-image: linear-gradient(rgb(63, 141, 201), rgb(40, 173, 122));
  border-radius: 5px;
}
.nav-list {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project h3 {
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.project a {
  margin-right: 2%;
  font-size: 1rem;
}
.project a:hover {
  color: aliceblue;
}
@media screen and (max-width: 750px) {
  .panels-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }
  .panel {
    width: 100%;
  }
}
