@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  background-image: linear-gradient(rgb(63, 141, 201), rgb(175, 183, 189));
  background-position: cover;
  background-size: auto 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
